{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="row" style="padding-top: 100px;height: 100%;width:100%;">
        <div class="col" style="background-color:#FBF0D8;text-align:center;">
            <img src="{% static 'image/logo.png' %}" alt="" style="padding-top: 200px">
        </div>
        <div class="col">
            <h1 style="text-align: center;padding-top: 180px;">About BUBUCHACHA</h1>
            <p style="padding: 10px 168px;font-size: 20px;line-height: 2;">
                我們是BUBUCHACHA開發團隊
                <br>
                希望大家會喜歡我們的共乘平台
                <br>
                從現在開始享受愉快的共乘體驗吧!
                <br>
                BTW : 祝大家期末都all pass! 新年快樂!
            </p>
        </div>
    </div>
{% endblock %}
