{% extends 'base.html' %}
{% block title %}價格試算{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% load widget_tweaks %}
    <div style="padding-top: 120px;padding-bottom: 50px;">
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm-2 border-end">
                    <h2 class="text-center">
                        價格試算
                    </h1>
                    <label for="capacity">車資均分人數</label>
                    <input type="number" min="1" max="9" value="1" class="form-control" id="capacity" name="capacity"/>
                </div>
                <div class="col-sm-10">
                    <div class="container">
                        <h3 class="text-center">
                            <b>車資試算結果</b>
                        </h3>
                        {% if place_list %}
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">上車地點↓</th>
                                        {% for place in place_list|dictsort:"name"|slice:":5" %}
                                            <th scope="col">{{ place.name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for place in place_list|dictsort:"name"|slice:"1:" %}
                                        <tr>
                                            <th scope="row">{{ place.name }}</th>
                                            {% for carfare in place.departure_fares.all|dictsort:"arrival.name" %}
                                                {% if forloop.counter <= forloop.parentloop.counter %}<td class="fare" data-fare="{{ carfare.fare }}"></td>{% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7">單位:元/人</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <p>There are no carfare in the database.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/price.js' %}"></script>
{% endblock %}
